<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hcilab.circog_watch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity android:name=".RequestDemographicActivity" />
        <activity android:name=".WaitingForConsentActivity" />
        <activity android:name=".NumberPickerActivity" />
        <activity android:name=".GenderSelectionActivity" />
        <activity android:name=".DrinkSelectionActivity" />
        <activity android:name=".DailySurveyActivity" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".AlertnessSurveyActivity" />
        <activity
            android:name=".GoNoGoActivity"
            android:label="@string/title_activity_go_no_go"
            android:theme="@style/Theme.Wearable.Modal"/>
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name=".PvtActivity"
            android:theme="@style/Theme.Wearable.Modal" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogCoffeeActivity" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".RequestDemographicActivity$ListenerServiceFromHandheld"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data
                    android:host="*"
                    android:pathPrefix="/demographic_result"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".MainActivity$ListenerServiceFromHandheld"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/start_wearable_app"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
    </application>

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>